configuration {
	show-icons: false;
	disable-history: false;
}

* {
	font: "Berkeley Mono Bold 14";
	foreground: white;
	background-color: black;
}

#window {
	background-color: black;
	border: 2;
	border-color: white;
	padding: 20;
	width: 800;
}

prompt, inputbar, entry {
	text-color: white;
	padding: 0 10 10 0;
}

listview {
	lines: 20;
	columns: 1;
}

element-text {
	text-color: khaki;
}

element-text selected {
	text-color: black;
	background-color: white;
}
