[user]
	name = Mitja Felicijan
	email = mitja.felicijan@gmail.com
	signingkey = /home/m/.ssh/id_rsa.pub
[core]
	editor = vim
[commit]
	gpgsign = true
	verbose = true
[tag]
	gpgsign = true
[init]
	defaultBranch = master
[pull]
	rebase = true
[gpg]
	format = ssh
