xkbset bo 50
xset r rate 400 30
xset dpms 0 0 1800
xset s 900
xss-lock -- xlock &
xinput --set-prop "pointer:Logitech MX Master 3" "libinput Accel Speed" -0.8

# picom --vsync --backend glx &
# conky -d &
